.card {
  margin: 20px auto;
  box-shadow: none !important;
  border: none !important;
}

.card-body {
  margin: 0 auto;
  max-width: 1024px;
}

.card > img {
  max-width: 1024px;
  max-height: 400px;
  object-fit: cover;
  margin: 0 auto;
}
