<div class="myContainer">
  <div class="bg-img">
    <h1 class="title p-5">🌴 Best Summer Trips</h1>
    <div class="myRow">
      <div class="grid_item item1 first">
        <img
          src="https://ik.imagekit.io/s05gjtvyzd4/tr:w-600/bali_palms_bfPXBAvAZX.jpg"
          alt="bali_palms"
        />
      </div>
      <div class="grid_item item2 first">
        <img
          src="https://ik.imagekit.io/s05gjtvyzd4/tr:w-600/maledives_palm_v2SCzQAXJ.jpg"
          alt="maledives_palm"
        />
      </div>
      <div class="grid_item item3 second">
        <img
          src="https://ik.imagekit.io/s05gjtvyzd4/tr:w-600/maledives_ZnR58p5cS.jpg"
          alt="maledives"
        />
        <a href="#" class="overlay">
          <p>Maledives</p>
        </a>
      </div>
      <div class="grid_item item4 second">
        <img
          src="https://ik.imagekit.io/s05gjtvyzd4/tr:w-600/rio_beach_rRnMz4WSQE.jpg"
          alt="rio"
        />
        <a href="#" class="overlay">
          <p>Rio</p>
        </a>
      </div>
    </div>
  </div>
</div>
