<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one.<span class="text-muted">Philosophy.</span></h2>
        <p class="lead">Nowadays, Summer is the hottest of the four temperate seasons, falling after spring and before autumn. .</p>
        <br>
        <p class="lead">At or around the summer solstice, the earliest sunrise and latest sunset occurs, the days are longest and the nights are shortest, with day length decreasing as the season progresses after the solstice cannot be met - that is to say, good programmers are in hi gh demand. </p>
    </div>
    <div class="col-md-5 ">
        <img class="featurette-image img-responsive center-block"
            src="https://cdn.pixabay.com/photo/2016/10/16/13/44/young-woman-1745173__340.jpg" alt="Generic placeholder image">
    </div>
</div>