<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2020/03/19/18/20/motocross-4948269__340.jpg"
                width="140" height="140">
            <h2>MOTOCROSSCOURSE </h2>
            <p>Motocross is a form of off-road motorcycle racing held on enclosed off-road circuits.
                The sport evolved from motorcycle trials competitions held in the United Kingdom. </p>
            <p><a class="btn btn-default" href="https://www.codefactory.wien/courses-programs/" role="button">View
                    details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle-circle" src="https://cdn.pixabay.com/photo/2013/02/09/04/28/diver-79597__340.jpg"
                alt="Generic placeholder image" width="140" height="140">
            <h2>DIVING COURSE</h2>
            <p>Underwater diving, as a human activity, is the practice of descending
                below the water's surface to interact with the environment. Immersion in water and exposure to high
                ambient pressure have physiological
                effects that limit the depths and duration possible in ambient pressure diving</p>
            <p><a class="btn btn-default" href="https://www.codefactory.wien/courses-programs/" role="button">View
                    details &raquo; </a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="https://media.istockphoto.com/photos/family-fun-in-swimming-pool-mother-father-baby-dive-underwater-picture-id596772772?b=1&k=6&m=596772772&s=170667a&w=0&h=g6KipxikQOGHdu_yhEaNkxA1fvE-9lhcrPHVieFpQAg="
                alt="Generic placeholder image" width="140" height="140">
            <h2>SWIMMING COURSE</h2>
            <p>We, the team of the Steiner Swimming School of Vienna, would like to warmly welcome you!
                For 40 years we have been introducing people of all ages to the joy of swimming. We focus on not only our littlest ones, but also on adults new to swimming and professionals as well.</p>
            <p><a class="btn btn-default" href="https://www.codefactory.wien/courses-programs/" role="button">View
                    details &raquo;</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>