.title {
  padding: 20px 0 50px;
}

.left > h3 {
  color: grey;
}

.right > img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px grey;
}

.icon {
  padding: 10px;
  font-size: 2em;
  color: #0dcaf0;
}
